<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <servlet>
    <servlet-name>ChannelSvc</servlet-name>
    <servlet-class>com.servlet.ChannelSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChannelSvc</servlet-name>
    <url-pattern>/ChannelSvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoriesSvc</servlet-name>
    <servlet-class>com.servlet.CategoriesSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesSvc</servlet-name>
    <url-pattern>/CategoriesSvc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginSvc</servlet-name>
    <servlet-class>com.servlet.LoginSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvc</servlet-name>
    <url-pattern>/LoginSvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageDnld</servlet-name>
    <servlet-class>com.servlet.ImageDnld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageDnld</servlet-name>
    <url-pattern>/ImageDnld</url-pattern>
  </servlet-mapping>
  <servlet>
   
    <servlet-name>ShowsSvc</servlet-name>
    <servlet-class>com.servlet.ShowsSvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowsSvc</servlet-name>
    <url-pattern>/ShowsSvc</url-pattern>
  </servlet-mapping>
</web-app>