<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExpenseTrackerWebService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FetchExpensesServlet</display-name>
    <servlet-name>FetchExpensesServlet</servlet-name>
    <servlet-class>com.sample.exptrack.webservices.FetchExpensesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchExpensesServlet</servlet-name>
    <url-pattern>/FetchExpensesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertExpenseServlet</display-name>
    <servlet-name>InsertExpenseServlet</servlet-name>
    <servlet-class>com.sample.exptrack.webservices.InsertExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertExpenseServlet</servlet-name>
    <url-pattern>/InsertExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExpenseServlet</display-name>
    <servlet-name>DeleteExpenseServlet</servlet-name>
    <servlet-class>com.sample.exptrack.webservices.DeleteExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExpenseServlet</servlet-name>
    <url-pattern>/DeleteExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExpenseServlet</display-name>
    <servlet-name>UpdateExpenseServlet</servlet-name>
    <servlet-class>com.sample.exptrack.webservices.UpdateExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExpenseServlet</servlet-name>
    <url-pattern>/UpdateExpenseServlet</url-pattern>
  </servlet-mapping>
</web-app>